<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4a1c52c2-e29c-44d1-855a-54133b5e52d8/resourceGroups/Default-Web-SouthCentralUS/providers/Microsoft.Web/sites/microminer</ResourceId>
    <ResourceGroup>Default-Web-SouthCentralUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microminer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microminer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>microminer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$microminer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SADAssignment3Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:microminerdbs.database.windows.net,1433;Initial Catalog=SADAssignment3_db1;User ID=micromineradmin@microminerdbs.database.windows.net;Password=password@123" Name="Data Source=tcp:microminerdbs.database.windows.net,1433;Initial Catalog=SADAssignment3_db1;User Id=micromineradmin@microminerdbs.database.windows.net;Password=password@123;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SADAssignment3.DAL.SADAssignment3Context, SADAssignment3" MigrationConfiguration="SADAssignment3.Migrations.Configuration, SADAssignment3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SADAssignment3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:microminerdbs.database.windows.net,1433;Initial Catalog=SADAssignment3_db1;User Id=micromineradmin@microminerdbs.database.windows.net;Password=password@123;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SADAssignment3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:microminerdbs.database.windows.net,1433;Initial Catalog=SADAssignment3_db1;User Id=micromineradmin@microminerdbs.database.windows.net;Password=password@123;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SADAssignment3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:microminerdbs.database.windows.net,1433;Initial Catalog=SADAssignment3_db1;User Id=micromineradmin@microminerdbs.database.windows.net;Password=password@123;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>