@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Microminer System</h1></center>
    <br/>
    <br/>
    <p>Microminer System web page contain four links for the user: Home, Noise Words, Data Input, and Search Keywords
       found in task bar, directly above.  
    <br />
       <b>Home</b> - Will take you back to here.  
    <br />
       <b>Noise Words</b> - Will show you a list of noise words that can be changed and updated.  
    <br />
       <b>Data Input</b> - Will give you access to pages that allow data to be inputed into the system.
    <br />
       <b>Search Keywords</b> - Allows the search of keywords in the system.
    </p>
</div>

