@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Microminer System</h1></center>
    <br/>
    <br/>
    <p>Microminer System web page contain three links for the user: home, data input, and Search for key words
       found in task bar, directly above.  </p>
</div>

